<!DOCTYPE html>
<html>
  <head>
    <title>blogs</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/nodejs.css" />
	
	<script src="../javascripts/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$('#menubar ul li').eq(1).addClass('current');
	});
	</script>
	<style>
		.sidebar div{margin:5px 0;}
		.createBtn{margin-bottom:20px;margin-left:-5px;width:92%;}
	</style>
  </head>
  <body>
   
	<div id="main">
    
	<% include layout/header.html %>
	
    <div id="site_content">
	
		<div id="sidebar_container">
			<a href="blogs/create" class="btn btn-primary createBtn">Create New Blog</a>
			<br />
			<img class="paperclip" src="../images/paperclip.png" alt="paperclip" />
			<div class="sidebar">
				<!-- insert your sidebar items here -->
				<h3><a href="blogs/create">Create new blog</a></h3>
				<h4>How to create a new blog?</h4>
				<br />
				<p>Click the title named <b>'Create new blog'</b>, then it will jump to a new tab page.<br /><a href="blogs/create" target="_blank">go ahead</a></p>
			</div>
		
			<img class="paperclip" src="../images/paperclip.png" alt="paperclip" />
			<div class="sidebar">
			<h3>Recent update</h3>
			<% i=0 %>
			<% updateList.forEach(function(item){ %>
			<% i++ %>
				<div><a href="blogs/blog?id=<%= item.id %>" target="_blank"><h4><%= i %>. <%= item.title %></h4></a></div>
			<% }) %>
			</div>
        
      </div>
	  
      <div id="content">
		
        <!-- insert the page content here -->
		<ul>
			<% i=0 %>
			<% blogList.forEach(function(item){ %>
				<% i++ %>
				<li><a href="blogs/blog?id=<%= item.id %>" target="_blank"><h2><%= i %>. <%= item.title %></h2></a></li>
			<% }) %>			
		<ul>        
      </div>
	  
    </div>
	
    <% include layout/footer.html %>
	
  </div>
   
  </body>
</html>
